<!DOCTYPE html>
<html>
<head>
	<title>Usuario</title>
</head>
<body>
	<form method="post" action="/usuario">
		<div class="form-group">
			<label>Nombre</label>
			<input type="string" name="nombre">
		</div>
		<div class="form-group">
			<label>Apellido</label>
			<input type="string" name="apellido">
		</div>
		<div class="form-group">
			<label>Nombre de usuario</label>
			<input type="string" name="nombreDeUsuario">
		</div>
		<button type="submit">Guardar</button>
	</form>
</body>
</html>